/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ea580c;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
